
div.app {
display: flex;
min-height: 100vh;
flex-direction: column;
width: 90%;
margin: 0 auto;
color: #222;
}



main {
  display: flex;
  padding: 30px 0;
  flex-grow: 1;

}

aside {

  min-width: 240px;
}


section.page {

  flex-grow: 1;
}

footer {
  background-color: black;
  color: white;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}