nav.main {
    
    padding: 20px;
}

nav.main ul {
    list-style: none;
}

nav.main li {
    color: red;
}
nav.main a {
display: block;
 text-decoration: none;
 text-transform: uppercase;
 color: black;
 font-weight: bold;
 padding: 10px;
 transition: .3s;
 
}

nav.main a:hover {
    transform: translateX(20px);
}

nav.main a.active {
    border-left: 8px solid gray;
    transform: translateX(0);
    
}

nav.main li:nth-child(1) a.active {
    border-left-color: green;
}
nav.main li:nth-child(2) a.active {
    border-left-color: yellow;
}
nav.main li:nth-child(3) a.active {
    border-left-color: red;
}
nav.main li:nth-child(4) a.active {
    border-left-color: blue;
}

